/* ------------------------------------------------------------------------ */
/* IMPORT FONTS FROM GOOGLE FONTS                                           */
/* ------------------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,700italic,900,700,500italic,500,400italic,300italic,100italic,300,100);

/* ------------------------------------------------------------------------ */
/* GENERAL SETTINGS FOR PAGE                                                */
/* ------------------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
}

a img {border: none;}

.invisible {
	display: none;
}

/* ------------------------------------------------------------------------ */
/* HEADER                                                                   */
/* ------------------------------------------------------------------------ */

header {
	color: #ffffff;
	background: #000000;
}

header h1 {
	display: inline-block;
	font-size: 100%;
	padding: 0.5em 1em;
}

header a {
	color: #ffffff;
}

header h1.page-title a {
	display: block;
	padding-left: 32px;
	line-height: 24px;
	background: url(nettserierboble.png) no-repeat;
}

header h1 a {
	text-decoration: none;
}

header nav.main-menu ul {
	border-top: dotted 1px #ffffff;
}

header nav.main-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #ffffff;
}

header nav.show-menu {
	float: right;
	padding: 0.5em;
}

header nav.show-menu ul li {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

header nav.show-menu ul li a.icons {
	display: block;
	padding-left: 24px;
	line-height: 24px;
	background: no-repeat;
	width: 0;
	overflow: hidden;
	text-decoration: none;;
}

header nav.show-menu ul li a.show-menu-link {
	background: url(menu.png);
}

header nav.show-menu ul li a.show-search-link {
	background: url(search.png);
}

nav.user-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #808080;
}


/* ------------------------------------------------------------------------ */
/* MAIN SECTION                                                             */
/* ------------------------------------------------------------------------ */

.main {
	padding: 1em;
}

p {
	margin: 0 0 1em;
}

/* Form errors */

.errorbox {
	background: #ffdddd;
}

.errorbox .errormsg {
	font-weight: bold; color: #800000;
}

/* ------------------------------------------------------------------------ */
/* DESKTOP EDITION                                                          */
/* ------------------------------------------------------------------------ */

@media screen and (min-width: 800px) {
	/* -------------------------------------------------------------------- */
	/* Desktop: Header                                                      */
	/* -------------------------------------------------------------------- */

	header h1 {
		display: inline-block;
	}
	header nav {
		display: inline-block;
	}

	header nav.main-menu ul {
		border-top: none;
		border-left: dotted 1px #ffffff;
	}

	header nav.main-menu ul li {
		display: inline-block;
		border-bottom: none;
		border-right: dotted 1px #ffffff;
	}

	nav.user-menu {
		display: block;
		margin: 0 0.5em;
		text-align: right;
		font-size: 80%;
	}

	nav.user-menu ul li {
		display: inline-block;
		padding: 0.5em;
		vertical-align: middle;
	}


}