/* ------------------------------------------------------------------------ */
/* IMPORT FONTS FROM GOOGLE FONTS                                           */
/* ------------------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Exo:400,700,400italic,700italic&subset=latin,latin-ext);

/* ------------------------------------------------------------------------ */
/* GENERAL SETTINGS FOR PAGE                                                */
/* ------------------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Exo, sans-serif;
}

a img {border: none;}

.invisible {
	display: none;
}

/* ------------------------------------------------------------------------ */
/* HEADER                                                                   */
/* ------------------------------------------------------------------------ */

header {
	color: #ffffff;
	background: #000000;
}

header h1 {
	display: inline-block;
	font-size: 100%;
	padding: 0.5em 1em;
}

header a {
	color: #ffffff;
}

header h1.page-title a {
	display: block;
	padding-left: 32px;
	line-height: 24px;
	background: url(nettserierboble.png) no-repeat;
}

header h1 a {
	text-decoration: none;
}

header nav.main-menu ul {
	border-top: dotted 1px #ffffff;
}

header nav.main-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #ffffff;
}

header nav.show-menu {
	float: right;
	padding: 0.5em;
}

header nav.show-menu ul li {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

header nav.show-menu ul li a.icons {
	display: block;
	padding-left: 24px;
	line-height: 24px;
	background: no-repeat;
	width: 0;
	overflow: hidden;
	text-decoration: none;;
}

header nav.show-menu ul li a.show-menu-link {
	background: url(menu.png);
}

header nav.show-menu ul li a.show-search-link {
	background: url(search.png);
}

nav.user-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #808080;
}


/* ------------------------------------------------------------------------ */
/* MAIN SECTION                                                             */
/* ------------------------------------------------------------------------ */

.main {
	padding: 1em;
}

.main p {
	margin: 0 0 1em;
}

.main h2 {
	font-size: 200%;
	margin: 0 0 .5em;
}

.main h3 {	
	font-size: 166.66%;
	margin: 0 0 .6em;
}

.main ul {
	margin: 0 0 1em;
	padding: 0 0 0 40px;
}

/* Form errors */

.errorbox {
	background: #ffdddd;
}

.errorbox .errormsg {
	font-weight: bold; color: #800000;
}

.main .nav_menu {
	padding: 0;
	list-style-type: none;
}

.main .nav_menu li {
	background: #eeeeee;
	border: solid 1px #808080;
	margin: 0 0 1em;
	text-align: center;
	padding: .5em;
	border-radius: .5em;
}

.main input {
  width: 100%;
  border: solid 1px #808080;
  padding: .5em;
  border-radius: .5em;
  box-sizing: border-box;
  }

.main input.urlpart {
	border: none;
	border-radius: none;
	border-bottom: dotted 1px #808080;
	width: 40%;
}

.main .profile_pic {
	text-align: center;
}

.main .profile_pic img {
	border: solid 1px #808080;
	border-radius: 10px;
	max-width: 100%;
}

/* ------------------------------------------------------------------------ */
/* DESKTOP EDITION                                                          */
/* ------------------------------------------------------------------------ */

@media screen and (min-width: 800px) {
	/* -------------------------------------------------------------------- */
	/* Desktop: Header                                                      */
	/* -------------------------------------------------------------------- */

	header h1 {
		display: inline-block;
	}
	header nav {
		display: inline-block;
	}

	header nav.main-menu ul {
		border-top: none;
		border-left: dotted 1px #ffffff;
	}

	header nav.main-menu ul li {
		display: inline-block;
		border-bottom: none;
		border-right: dotted 1px #ffffff;
	}

	nav.user-menu {
		display: block;
		margin: 0 0.5em;
		text-align: right;
		font-size: 80%;
	}

	nav.user-menu ul li {
		display: inline-block;
		padding: 0.5em;
		vertical-align: middle;
		border: none;
	}

	.main .profile_pic {
		float: right;
	}

}