/* ------------------------------------------------------------------------ */
/* IMPORT FONTS FROM GOOGLE FONTS                                           */
/* ------------------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Exo:400,700,400italic,700italic&subset=latin,latin-ext);

/* ------------------------------------------------------------------------ */
/* GENERAL SETTINGS FOR PAGE                                                */
/* ------------------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Exo, sans-serif;
}

a img {border: none;}

.invisible {
	display: none;
}

/* ------------------------------------------------------------------------ */
/* HEADER                                                                   */
/* ------------------------------------------------------------------------ */

header {
	color: #ffffff;
	background: #000000;
}

header h1 {
	display: inline-block;
	font-size: 100%;
	padding: 0.5em 1em;
}

header a {
	color: #ffffff;
}

header h1.page-title a {
	display: block;
	padding-left: 32px;
	line-height: 24px;
	background: url(nettserierboble.png) no-repeat;
}

header h1 a {
	text-decoration: none;
}

header nav.main-menu ul {
	border-top: dotted 1px #ffffff;
}

header nav.main-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #ffffff;
}

header nav.show-menu {
	float: right;
	padding: 0.5em;
	position: absolute;
	top: 0;
	right: 0;
}

header nav.show-menu ul li {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

header nav.show-menu ul li a.icons {
	display: block;
	padding-left: 24px;
	line-height: 24px;
	background: no-repeat;
	width: 0;
	overflow: hidden;
	text-decoration: none;;
}

header nav.show-menu ul li a.show-menu-link {
	background: url(menu.png);
}

header nav.show-menu ul li a.show-search-link {
	background: url(search.png);
}

nav.user-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #808080;
}

/* Header (comic-specific) */

.comicheader {
	min-height: 100px;
}

header .titleblock {
	display: inline-block;
	padding: 0.5em 1em;
}

header .titleblock h1 {
	display: block;
	font-size: 150%;
	padding: 0;
}

header .titleblock h1.page-title a {
	display: inline;
	padding-left: 0;
	line-height: auto;
	background: none;
}

header .portal-menu h2 {
	font-size: 100%;
}

header .portal-menu ul li {
	padding: 0.5em 1em;
	border-bottom: dotted 1px #ffffff;
}



/* ------------------------------------------------------------------------ */
/* MAIN SECTION                                                             */
/* ------------------------------------------------------------------------ */

.main {
	padding: 1em;
}

.main img {
	max-width: 100%;
}

.main a {
	color: #666666;
}

.main p {
	margin: 0 0 1em;
}

.main h2 {
	font-size: 200%;
	margin: 0 0 .5em;
}

.main h3 {	
	font-size: 166.66%;
	margin: 0 0 .6em;
}

.main ul {
	margin: 0 0 1em;
	padding: 0 0 0 40px;
}

.main ul li ul {
	margin: 0;
}

.main table {
	margin: 0 0 1em;
}

/* Frontpage */

.main .fp-comics-display {
	text-align: center;
}

.main .fp-splash {
	width: 100%;
	position: relative;
	margin: 0 auto 2em; 
}

.main .fp-splash .comicbox {
	position: relative;
	width: 100%;
	text-align: center;
	max-height: 400px;
	overflow: hidden;
}
.main .fp-splash h3 {
	position: absolute;
	top: 0;
	left: 0;
	padding: .5em;
	text-shadow:
   -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
   -1px  1px 0 #ffffff,
    1px  1px 0 #ffffff;
}

.main .fp-splash .comicbox:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 350px;
	height: 50px;
	width: 100%;
	background-image: linear-gradient(transparent, #ffffff);
}

.main .fp-splash .comic-para img {
	display: inline;
}

.main .fp-comics-display .comicbox {
	max-height: 200px;
	position: relative;
	overflow: hidden;
}

.main .fp-comics-display .comicbox:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 175px;
	height: 25px;
	width: 100%;
	background-image: linear-gradient(transparent, #ffffff);
}


/* Form errors */

.errorbox {
	background: #ffdddd;
}

.errorbox .errormsg {
	font-weight: bold; color: #800000;
}

.main .nav_menu {
	padding: 0;
	list-style-type: none;
}

.main .nav_menu li {
	background: #eeeeee;
	border: solid 1px #808080;
	margin: 0 0 1em;
	text-align: center;
	padding: .5em;
	border-radius: .5em;
}

.main input, .main select {
  width: 100%;
  border: solid 1px #808080;
  padding: .5em;
  border-radius: .5em;
  box-sizing: border-box;
  }

.main input[type="checkbox"], .main input[type="radio"] {
	width: auto;
}

.main input.urlpart {
	border: none;
	border-radius: none;
	border-bottom: dotted 1px #808080;
	width: 40%;
}

.main .profile_pic {
	text-align: center;
}

.main .profile_pic img {
	border: solid 1px #808080;
	border-radius: 10px;
	max-width: 100%;
}

.main table.strips-to-edit {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
}

.main .strips-to-edit .checkbox-cell {
	width: 5%;
}

.main .strips-to-edit .thumbnail-cell {
	width: 30%;
}

.main .thumbnail-box {
	max-height: 80px;
	overflow: hidden;
}

.main .thumbnail-cell img {
	max-width: 100%;
}

.main .strips-to-edit .title-cell {
	width: 40%;
	padding: 0 1em;
}

.main .strips-to-edit .title-cell h3 {
	font-size: 100%;
}

.main .strips-to-edit .title-cell nav ul {
	margin: 0;
	padding: 0;
}

.main .strips-to-edit .title-cell nav li {
	display: inline;
	font-size: 90%;
}

.main .strips-to-edit .title-cell nav li:before {
	content: " | ";
}

.main .strips-to-edit .title-cell nav li:first-child:before {
	content: "";
}

.main .strips-to-edit .date-cell {
	width: 25%;
}

/* COMICS */

.main .comicbox {
	text-align: center;
}

.main .navigate-strips ul {
	margin: 0;
	padding: 0 0 1em;
}
.main .navigate-strips li {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.main .navigate-strips li.next:first-child {
	margin-left: 50%;
}

.main .navigate-strips li.prev:last-child {
	margin-right: 50%;
}

/* _ns/pages/feed.php */

.main .feed-box {
	margin-bottom: 1em;
	border: solid 1px #dddddd;
	border-radius: 1em;
	padding: 1em;
	font-size: 90%;
}

.main .feed-box h3 {
	text-align: center;
}

.main .feed-box .comic-para {
	text-align: center;
}

.main .feed-box .feed-pubtime {
	margin: 0;
	text-align: center; 
	font-size: 80%;
	color: #808080;
	letter-spacing: .1em;
}

.main .feed-sidebar {
	background: #eeeeee;
	padding: 1em;
	border: solid 1px #808080;
	border-radius: 1em;
}

.main .feed-sidebar h3 {
	font-size: 120%;
}

.main .feed-sidebar h4 {
	font-size: 100%;
	margin-bottom: .5em;
}

.main .feed-sidebar p {
	margin-bottom: .5em;
}

.main fieldset {
	padding: 1em;
	margin-bottom: 1em;
}

.main fieldset ul {
	list-style-type: none;
}

.main .weekdays li {
	display: inline-block;
	margin-right: .5em;
}

.main .edit-comic {
	border: solid 1px #808080;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 1em;
}
.main .edit-comic .movelinks {
	clear: both;
	text-align: right;
}

.main .edit-comic .movelinks li {
	display: inline-block;
	margin-left: 1em;
}

.main .edit-comic .edit-image-preview {
	max-height: 200px;
	overflow-y: auto;
}

.main input.dateandtime {
	box-sizing: border-box;
	width: 40%;
}

/* ------------------------------------------------------------------------ */
/* FOOTER                                                                   */
/* ------------------------------------------------------------------------ */

footer {
	font-size: 80%;
	color: #454545;
	padding: .5em 1em;
	position: relative;
	clear: both;
}

footer h2 {
	font-size: 100%;
}

footer nav {
	margin-bottom: .5em;
}

footer nav ul {
	margin: 0 0 1em;
	padding: 0 0 0 30px;
}


footer .copyright {text-align: center;}


/* ------------------------------------------------------------------------ */
/* DESKTOP EDITION                                                          */
/* ------------------------------------------------------------------------ */

@media screen and (min-width: 800px) {
	/* -------------------------------------------------------------------- */
	/* Desktop: Header                                                      */
	/* -------------------------------------------------------------------- */

	header h1 {
		display: inline-block;
	}
	header nav {
		display: inline-block;
	}

	header nav.main-menu ul {
		border-top: none;
		border-left: dotted 1px #ffffff;
	}

	header nav.main-menu ul li {
		display: inline-block;
		border-bottom: none;
		border-right: dotted 1px #ffffff;
	}

	nav.user-menu {
		display: block;
		margin: 0 0.5em;
		text-align: right;
		font-size: 80%;
	}

	nav.user-menu ul li {
		display: inline-block;
		padding: 0.5em;
		vertical-align: middle;
		border: none;
	}

	header.comicheader {
		position: relative;
	}
	
	header .titleblock {
		max-width: 45%;
	}

	header.comicheader .main-menu {
		position: absolute;
		bottom: 0;
		left: 46%;
	}
	
	header .portal-menu {
		position: absolute;
		right: 1em;
		top: .5em;
		font-size: 80%;
	}
	
	header .portal-menu h2 {
		display: inline;
	}
	header .portal-menu ul {
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	header .portal-menu ul li {
		padding: 0;
		display: inline;
		border-bottom: none;
	}

	header .portal-menu ul li:before {
		content: " | ";
	}

header .portal-menu ul li:first:before {
		content: "";
	}

	.main .profile_pic {
		float: right;
	}

	.main .thumbnail-box {
		max-height: 200px;
	}

	footer h2 {display: inline;}
	footer nav ul {display: inline; margin: 0; padding: 0;}
	footer nav li {display: inline;}
	footer nav li:before {content: " | ";}

	footer .copyright {
		text-align: right;
		position: absolute;
		bottom: 1em;
		right: 1em;
	}

	.main .edit-comic:after {
		content: "";
		display: block;
		clear: both;
	}

	.main .edit-comic .edit-image-preview {
		width: 30%;
		float: left;
	}

	.main .edit-comic fieldset.edit-comic-info {
		width: calc(70% - 3em);
		float: right;
	}

	.main .edit-comic .edit-image-preview {
		max-height: 500px;
	}

	.main .fp-comics-display:after {
		clear: both;
		content: "";
		display: block;
	}
	.main .fp-comics-display .comicbox {
		width: calc((100% - 4em) / 3);
		float: left;
		margin-right: 2em;
		margin-bottom: 1em;
	}
	
	.main .fp-comics-display .comicbox:nth-child(3n) {
		margin-right: 0;
	}
	.main .fp-comics-display .comicbox:nth-child(3n+1) {
		clear: left;
	}



}

@media screen and (min-width: 1200px) {
	.main .feed {
		float: left;
		width: calc(80% - 2em - 3px);
	}
	.main .feed-sidebar {
		float: right;
		width: 20%;
		margin-right: -1em;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

/* ------------------------------------------------------------------------ */
/* PRINTER FRIENDLY                                                         */
/* ------------------------------------------------------------------------ */

@media print {
	header {display: none;}
	nav.user-menu {display: none;}
	footer {display: none;}
}